* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(194, 15, 15);
    font-weight: bold;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#contenedor-interno {
    background-color: white;
    height: 60vh;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin: 20px;
}

div#contenedor-interno div {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}